.currency-dropdown {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  margin-right: 20px;
}

.dropdown-label {
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--text);
  cursor: pointer;
}

.dropdown-select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background: white;
  color: var(--text);
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.dropdown-select:focus {
  outline: none;
  border-color: var(--primary);
  cursor: pointer;
}

.currency-dropdown-button {
  display: flex;
  justify-content: flex-end;
}
