@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "./theme.css";

body {
  font-family: var(--font-family);
  background-color: white;
  color: var(--text);
  font-size: var(--font-size);
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
}

h1 {
  text-align: center;
  margin: 40px 0px;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  min-width: 100%;
  border-spacing: 0;
  border-radius: 10px;
}

th button {
  margin-left: 8px;
}

th {
  background: var(--table-header);
  color: white;
  padding: var(--spacing-medium);
  text-align: left;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  min-width: 150px;
  padding-right: 30px;
  word-wrap: break-word;
  white-space: normal;
}

.th-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

tr:nth-child(even) {
  background-color: var(--table-row-even);
}

td {
  text-align: end;
  padding-right: 30px;
  word-wrap: break-word;
  white-space: normal;
}
