:root {
  /* Colors */

  --primary: #a4b0c8;
  --primary-hover: #5848c2;
  --background: #f8f9fa;
  --text: #676b77;
  --table-header: #a4b0c8;
  --table-row-even: #f2f2f2;
  --button-disabled: #ccc;

  /* Typography */
  --font-family: "Open Sans", sans-serif;
  --font-size: 16px;

  /* Spacing */
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
}
