.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  z-index: 10;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
