@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "./theme.css";

body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: var(--font-size);
}

/* Table */
th {
  background: var(--table-header);
  color: white;
}

tr:nth-child(even) {
  background-color: var(--table-row-even);
}
